<section class="container">
  <div class="column is-12">
    <div class="card">
      <div class="card-image has-text-centered">
        <i class="fas fa-users"></i>
      </div>
      <div class="card-content">
      <div class="content">
        <h4>Find a Pretend Friends</h4>
        <p>Beacause real friends are for suckas</p>
        <a class="button is-danger" href="/survey">
          <span class="icon">
            <i class="fas fa-id-card"></i>
          </span>
          <span>Get Started</span>
        </a>
    </div>
  </div>
</section>
